@page "/{companySlug}/customer"
@inject HttpClient client
@inject Services.Style Style
@inject IJSRuntime JsRuntime

<div class="row mb-2">
    <div class="col-8 ">
        @if(Company!= null) {
            <h6 class="shadow-lg p-2 rounded bg-white">@Company.Name | Customers</h6>
        }
        else {
            <h6>Customers</h6>
        }
        
    </div>
    <div class="col-4 float-right">
        <a href="@companySlug/customer/create" class="btn btn-sm btn-primary mb-2 float-right">Create</a>
    </div>
</div>

<div class="row">
    <nav aria-label="breadcrumb" >
      <ol class="breadcrumb shadow-lg bg-white rounded">
        <li class="breadcrumb-item"><a href="#">home</a></li>
        <li class="breadcrumb-item"><a href="/@companySlug">@companySlug</a></li>
        <li class="breadcrumb-item active" aria-current="page">customer</li>
      </ol>
    </nav>
</div>


@if(Customers == null) {
    <p class="mt-5">Loading ...</p>
}
else if(Customers.Length == 0) {
    <br />
    <p class="mt-5">No Records Yet!</p>
}
else {
    <div class="table-responsive shadow-lg p-2 rounded bg-white">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Phone</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (Customer customer in Customers)
            {
                <tr>
                    <td>@customer.Name</td>
                    <td><a href="tel:@customer.PhoneNo">@customer.PhoneNo</a></td>
                    <td>
                        <div class="btn-group">
                          <button type="button" class="btn btn-info btn-sm dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                            Action
                          </button>
                          <ul class="dropdown-menu" style="height: @height;">
                            <li><a class="dropdown-item" href="@companySlug/customer/@customer.CustomerId/edit">Edit</a></li>                                                    
                            <li><a class="dropdown-item disabled" href="#">Details</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" @onclick="@(() => DeleteCustomer(customer.CustomerId))">Delete</a></li>
                          </ul>
                        </div>
                    </td>
                </tr>
            }

        </tbody>
    </table>
    </div>
}




@code {
    [Parameter] public string companySlug { get; set; }

    private Company Company { get; set; }
    private Customer[] Customers { get; set; }
    
    private string height { get; set; }

    protected override async Task OnInitializedAsync() {
        Company = await client.GetFromJsonAsync<Company>($"api/company/s?slug={companySlug}");
        CompanyFilter.CompanyId = Company.CompanyId;
        CompanyFilter.Slug = Company.Slug;

        Customers = await client.GetFromJsonAsync<Customer[]>($"api/customer?companyId={Company.CompanyId}");
            

        height = Style.GetHeight(Customers.Count());
    }

    
    private async Task DeleteCustomer(string customerId) {
        Customer customer = await client.GetFromJsonAsync<Customer>($"api/cusomer/{customerId}");
        if(await JsRuntime.InvokeAsync<bool>("confirm", $"Are you sure you want to delete {customer.Name} ?")) {
                await client.DeleteAsync($"api/customer/{customerId}");
            }
        await OnInitializedAsync();
    }
    
}